.container {
    background-color: rgb(10, 78, 26);
    color: white;
    padding: 100px;

}

.fileBox {
    cursor: pointer;
    border: 1px white dotted;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 420px;
    height: 220px;
    margin: auto;
}

.text {
    text-align: center;
}